#header {
  background: #2F2F2F;
  color: #FFFFFF;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
  flex-grow: 1;
}

#header img {
  vertical-align: middle;
}

#header #menu-button {
  display: none;
  outline: none;

  padding: 0 0.25em;
  background: transparent;
  border: 1px solid #FFFFFF;
}

#header #header-links {
  display: flex;
}

#header #header-links div {
  margin: 0 0.5em;
}

#header #header-links div:first-child {
  margin: 0;
}

@media (max-width: 700px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  #header #menu-button {
    display: inline;
  }

  #header #header-links {
    margin-top: 0.5em;
  }
}
