#header {
  background: #2F2F2F;
  color: #FFFFFF;
  padding: 0.5em;
  display: flex;
  align-items: center;
  height: 2.5em;
}

#header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
  flex-grow: 1;
}

#header div {
  margin: 0 0.5em;
}

#header img {
  vertical-align: middle;
}

#header #menu-button {
  display: none;
  outline: none;

  padding: 0 0.25em;
  background: transparent;
  border: 1px solid #FFFFFF;
}

@media (max-width: 700px) {
  #header .header-link {
    display: none;
  }

  #header #menu-button {
    display: inline;
  }
}
