#sidebar {
  background: #BDC5B8;
  padding: 0.5em;
  width: 16em;
  min-width: 16em;
  min-height: calc(100vh - 4em);
}

#sidebar h2 {
  font-size: 1.2em;
  margin: 0;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin: 0.5em;
}

#sidebar ul li a {
  text-decoration: none;
  color: #435058;
  border-left: 5px solid transparent;
  padding-left: 0.25em;
}

#sidebar ul li a.active {
  font-weight: bold;
  border-left: 5px solid #435058;
}

#sidebar ul a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  #sidebar {
    position: absolute;
    transition: left 0.25s ease-out;
  }

  #sidebar.closed {
    left: -17em;
  }

  #sidebar.open {
    left: 0;
  }
}